@color_white:#EBEBEB;
@color_gray:#AEAEB0;
@color_black:#0f0e0c;

.bg (@color){
	background-color:@color;
}

.centered{
	text-align:center;
}

.img-responsive{
	margin:0 auto;
}

*{
	margin:0; padding:0;
}

.cabin{
	font-family:'Cabin', Helvetica, Sans, Arial, sans-serif;
}

.pt{
	font-family:'PT Serif', Georgia, serif;
}

body, .headline{
	.cabin;
}

.headline{
	text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6 {
	.pt;
}

h2{border:2px solid; font-weight: 700;}

h1,.alpha{font-size:54pt}
h2,.beta{font-size:42pt}
h3,.gamma{font-size:32pt}
h4,.delta{font-size:24pt}
h5,.epsilon{font-size:18pt}
h6,.zeta{font-size:14pt}
.milli{font-size:12pt}

.padded{
	padding:36px 0;
}

article{
		padding-bottom:120px;
		margin-bottom:12px;
		font-weight:700;
}

header{
	.bg(#F0EFED);
	margin-top:24px;
	.topmenu{
		.bg(@color_black);
		text-align:left;
		ul{
			padding-top:6px;
		}
		li{
			font-weight:700;
			color:white;
			display:inline;
			text-transform: uppercase;
			margin-right:12px;
		}
	}
}

#cover, #press{
	.bg(@color_white);
}

#photographers, #videos{
	.bg(@color_black);
	color:@color_white;
}

.credits{
	display:block;
	margin:0 auto;
	p{float:left; font-weight:700}
	ul{float:right}
	li{display:inline; margin-right:8px}
}

#recommend{
	.bg(@color_gray);
	li{
		width:96px;
		height:30px;
		display: inline-block;
		margin: 0px 12px 12px 0px;
		text-align:center;
		.bg(#fff);
		img{
			max-width:96px;
			max-height:30px;
			height:100%;
			width:auto;
			vertical-align: middle !important;
		}
	}
}

#articles{
	article{
		img{margin:0}
		border-bottom:6px solid @color_black;
		h3{font-weight: 700}
		height:520px;
		@media screen and (max-width:991px){
			h6{height:2em;}
			h3{font-size:24pt}
		}
	}
}

#videos{
	article{
		border-bottom:6px solid @color_white;
		h3{height:3.5em; font-weight:700}
		h5{opacity:0.66}
	}
}

#press{
	li{display:block;
		a{color:@color_black}
	}
}

footer{
	.bg(@color_black);
}