.centered{text-align:center}
.img-responsive{margin:0 auto}
*{margin:0;padding:0}
.cabin{font-family:'Cabin',Helvetica,Sans,Arial,sans-serif}
.pt{font-family:'PT Serif',Georgia,serif}
.ad{background-color:#f00}
body,.headline{font-family:'Cabin',Helvetica,Sans,Arial,sans-serif}
.headline{text-transform:uppercase}
h1,h2,h3,h4,h5,h6{font-family:'PT Serif',Georgia,serif}
h2{border:2px solid;font-weight:700}
h1,.alpha{font-size:54pt}
h2,.beta{font-size:42pt}
h3,.gamma{font-size:32pt}
h4,.delta{font-size:24pt}
h5,.epsilon{font-size:18pt}
h6,.zeta{font-size:14pt}
.milli{font-size:12pt}
.padded{padding:36px 0}
article{padding-bottom:120px;margin-bottom:12px;font-weight:700}
#cover,#press{background-color:#ebebeb}
#photographers,#videos{background-color:#0f0e0c;color:#ebebeb}
#cover i{opacity:.6}#cover i.active{opacity:1}
header{background-color:#f0efed;padding-top:24px}header .topmenu{height:58px;background-color:#0f0e0c}header .topmenu a{color:#ebebeb}
header .topmenu ul{padding-top:18px}
header .topmenu li{font-weight:700;color:#fff;display:inline;text-transform:uppercase;margin-right:12px}
.carousel-caption{background-color:#0f0e0c;opacity:.66}
.credits{display:block;margin:0 auto}.credits p{float:left;font-weight:700}
.credits ul{float:right}
.credits li{display:inline;margin-right:8px}
#recommend{background-color:#aeaeb0}#recommend li{width:96px;height:30px;display:inline-block;margin:0 12px 12px 0;text-align:center;background-color:#fff}#recommend li img{max-width:96px;max-height:30px;height:100%;width:auto;vertical-align:middle !important}
#articles a{color:#0f0e0c;text-decoration:none}
#articles article{border-bottom:6px solid #0f0e0c;height:520px}#articles article img{margin:0}
#articles article h3{font-weight:700}
@media screen and (max-width:991px){#articles article h6{height:2em} #articles article h3{font-size:24pt}}
#videos article{border-bottom:6px solid #ebebeb}#videos article h3{height:3.5em;font-weight:700}
#videos article h5{opacity:.66}
#press li{display:block}#press li a{color:#0f0e0c}
.dropcap{font-size:42pt;margin:0;padding:0}
#headline{margin-bottom:12px}
#article-content blockquote{width:90%;margin:0 auto;border:1px solid #aeaeb0;font-style:italic;opacity:.66}#article-content blockquote p{font-size:24pt}
#article-content p{padding-bottom:12px;margin-bottom:12px}
#article-content h1{font-weight:700}
#article-content h2{border:none;padding-top:8px}
footer{background-color:#0f0e0c}
